<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">

</head>
	<body>
		<h1>Seleccione una operación</h1>
		<div>
			<a href="/extra-hours-form"><button>Horas extra</button> </a>
		</div>
		<br>
		<div>
			<a href="/load-txt"><button>Cargar archivo</button> </a>
		</div>
		<br>
		<div>
			<a href="/employees"><button>Todos los Empleados</button> </a>
		</div>
		<br>
		<div>
			<a href="/calcular-sueldos"><button>Calcular Sueldos</button> </a>
		</div>
	</body>
</html>