<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">

</head>
<body>
	<h1>Seleccione una operacion</h1>
	<button ><a href="/extra-hours-form">Horas extra</a></button>
  <button ><a href="/extra-hours-form">Justificativo</a></button>
  <button ><a href="/load-txt">Cargar archivo</a></button>
  <button><a href="/employees">Todos los empleados</a></button>
</body>
</html>